.s-input2{
    width:300px;
    height: 40px;
    border: solid 1px grey;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.s-disc{
    font-size: 20px;
    font-family: 'roboto';
    color: #ffffff;

}

.s-align-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    height: 70vh;
    background-color:#f2846b;
    border-radius: 25px;
    margin-left: 20%;
    
    

}
.align-left{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    background-color: rgb(246, 220, 204);
}
.s-btn-align{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.align-middle{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
}
.s-btn{
    margin: 20px 0 0 0;
    width: 180px;
    height: 40px;
    background-color:#ffffff;
    border-radius: 5px;
    border-width: 0px;
    border-style: solid;
    color:#F47458;
    font-size: 20px;
    font-weight: 700;
}

.s-error{
    color: red;
    font-family: 'roboto';
    font-size: 15px;
}

.s-heading{
    color:black;
    font-family: 'roboto';
    font-size: 20px;
}
.s-welcome{
    color: #493f3f;
    font-size: 22px;
    align-self: flex-start;
    padding-left: 23%;
    
}
.s-img{
    min-width: 30%;
    margin-left: 50px;
    
}
.s-password-top{
    margin:10px 0 20px 0;
}

.s-sign{
    color: black;
    font-size:32px;
    align-self: flex-start;
    padding-left: 23%;
}
.s-password-symbol{
    border:none;
    outline: none;
}
.s-container-visable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style:solid ;
    border-width: 1px;
    border-radius: 5px;
    border: solid 1px #ffffff;
    border-radius: 8px;
    max-width: 87%;
    background-color: white;
    max-height: 55px;
}
.s-eye-button{
    border:none;
    outline: none;
    background-color:transparent;
    font-size: 25px;
    color:grey;
}