.l-input2{
    width:500px;
    border-width: 1px;
    border-radius: 5px;
    border: solid 1px #ffffff;
    height: 50px;
    color: #ffffff;
    padding-left: 30px;
    font-size: 25px;
    margin: 20px 0 10px 0;
    background-color: transparent;
}

.l-disc{
    font-size: 20px;
    font-family: 'roboto';
    color: #ffffff;
}
.l-align-middle{
    display: flex;
    background-image: url("https://t3.ftcdn.net/jpg/01/17/33/22/360_F_117332203_ekwDZkViF6M3itApEFRIH4844XjJ7zEb.jpg");
    justify-self: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

.l-align-name{
    
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    min-width: 100%;
   
}

.l-btn-align{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.l-btn{
    margin: 20px 0 0 0;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    border-width: 0px;
    border-style: solid;
    color: black;
    font-size: 25px;
    font-weight: 400;
}


.l-error{

    color: red;
    font-family: 'roboto';
    font-size: 22px;
    margin-bottom: 10px;
}

.l-heading{
    color:black;
    font-family: 'roboto';
    font-size: 20px;
}

.login-link {
    font-family: "Roboto";
    font-size: 20px;
    color: #ffffff;
}

.login-link-style {
    text-decoration: none;
    font-size: px;
    color: #ffffff;
}
.l-password-symbol{
    border:none;
    outline: none;
}
.l-container-visable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style:solid ;
    border-width: 1px;
    border-radius: 5px;
    border: solid 1px #ffffff;
    border-radius: 8px;
    max-width: 530px;
    max-height: 55px;
}
.l-eye-button{
    border:none;
    outline: none;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
}